.dropdown {
    background-color: #FF6060;
    border-radius: 5px;
    color: white;
    div {
        display: flex;
        justify-content: space-between;

        img {
            align-self: center;
        }
    }
    p:not(.open) {
        display: none;
    }
}