#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../public/slogan.png");
    background-position-y: center;
    border-radius: 25px;
    padding-block: 1vw;
}
#hero p {
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-align: center;
    filter: drop-shadow(0px 4px 4px black);
}
@media screen and (max-width: 479px) {
    #hero p {
        font-size: 24px;
    }
}