$mobile-max: 800px;
$drop-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../public/slogan.png");
    background-position-y: center;
    background-size: cover;
    filter: $drop-shadow;
    border-radius: 25px;
    padding-block: 35px;

    p {
        font-size: 48px;
        font-weight: bold;
        filter: $drop-shadow;
        color: white;
        text-align: center;

        @media screen and (max-width: $mobile-max) {
            font-size: 24px;
        }
    }

    @media screen and (max-width: $mobile-max) {
        padding-block: 12px;
    }
}