$mobile-max: 800px;
$mobile-scale: 0.5;

.arrow {
    bottom: calc(50% - 40px);
}
#left {
    left: 5%;

    @media screen and (max-width: $mobile-max) {
        transform: scale($mobile-scale);
    }
}
#right {
    right: 5%;
    transform: scaleX(-1);

    @media screen and (max-width: $mobile-max) {
        transform: scale($mobile-scale) scaleX(-1);
    }
}