$mobile-max: 800px;
$red: #FF6060;

#fichelogement {
    margin-bottom: 30px;
    min-height: 66vh;

    section {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: $mobile-max) {
            flex-direction: column;
        }
    }
    #meta {
        margin-top: 25px;
        h1 {
            color: $red;
            font-size: 36px;
            font-weight: 500;
            margin-bottom: 10px;
            margin-top: 0;
        }
        #location {
            font-size: 18px;
            font-weight: 500;
            margin-top: 0;
        }
        #hostrating {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-bottom: 15px;
            @media screen and (max-width: $mobile-max) {
                flex-direction: row-reverse;
                justify-content: space-between;
            }
        }
    }
    #dropdowns {
        gap: 75px;

        @media screen and (max-width: $mobile-max) {
            flex-direction: column;
            gap: 20px;
        }
    }
}