$mobile-max: 800px;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 45px;
    @media screen and (max-width: $mobile-max) {
        margin-block: 20px;
    }

    img {
        @media screen and (max-width: $mobile-max) {
            width: 145px;
        }
    }
    nav {
        display: flex;
        gap: 60px;
    
        @media screen and (max-width: $mobile-max) {
            gap: 40px;
        }

        a {
            color: black;
            font-size: 24px;
        
            &:not(:hover) {
                text-decoration: none;
            }

            @media screen and (max-width: $mobile-max) {
                font-size: 16px;
                text-transform: uppercase;
            }
        }
    }
} 