$mobile-max: 800px;

#Gallery {
    .picture {
        width: 100%;
        height: 35vh;
        object-fit: cover;
        border-radius: 25px;

        &:not(.visible) {
            display: none;
        }
    }
}