#Error404 {
    text-align: center;

    p {
        color: #FF6060;
        &:nth-child(1) {
            font-size: 288px;
            margin: 0;
        }
        &:nth-child(2) {
            font-size: 36px;
        }
    }
    a {
        color: black;
    }
}