$mobile-max: 800px;

body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
    font-family: 'Montserrat';

    & > *:not(footer) {
      margin-inline: 100px;

      @media screen and (max-width: $mobile-max) {
        margin-inline: 20px;
      }
  }
}