body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
    font-family: 'Montserrat';
}
#root > * {
    margin-inline: 100px;
}
@media screen and (max-width: 479px) {
    #root > * {
        margin-inline: 10px;
    }
}
#root > footer {
    margin-inline: unset;
}